<div class="question-banner">
	<%= link_to questions_path do %>
		<%= image_tag "woods.jpg", alt: "Nature", class: "banner-image" %>
		<div class="container">
			<h4><b>Маєш Запитання?</b></h4>
			<p>Ти можеш написати сюди. Не зволікай! </p>
		</div>
	<% end %>
</div>
<hr>