<div class="question-banner">
	<%= link_to questions_path do %>
		<%= image_tag "woods.jpg", alt: "Nature", class: "banner-image" %>
		<div class="container">
			<h4><b>Маєш Запитання?</b></h4>
			<p>Ти можеш написати сюди. Тут є так то і так то і тому то! укпукукп купеквм мукпи кпкп вуцуацуа!</p>
		</div>
	<% end %>
</div>
<hr>