<div class="question-banner">
	<%= link_to quotes_path do %>
		<%= image_tag "quotes.jpg", alt: "Nature", class: "banner-image" %>
		<div class="container">
			<h4><b>Цитати відомих людей про Бога, Біблію, віру.</b></h4>
		</div>
	<% end %>
</div>
<hr>