<div class="post-toolbar">
    <%= link_to quotes_path do %>
        <button class="button padding-large border"> <b>Назад до усіх цитат</b> </button>
    <% end %>
</div>

<div class="post-container">
    <div class="container-with-large-padding">
        <h2>
            <b class="place-left">Нова цитата</b>
        </h2>
    </div>
        <%= render 'form', quote: @quote %>
</div>