<div>
	<em style="font-size: 10px;">Змінено <%= time_ago_in_words(article.created_at) %> Тому</em><br>
	<strong style="font-size: 25px;">
		<%= link_to article.title, article_path(article.link_name) %> 
		<%= article.views != 0 ? article.views : '' %>
	</strong>
</div><br>