<div>
	<em style="font-size: 10px;">Submitted <%= time_ago_in_words(article.created_at) %> Ago</em><br>
	<strong style="font-size: 25px;"><%= link_to article.title, category_article_path(@category, article) %></strong>
</div><br>