<div class="small-post-list">
	<div class="container">
		<h4>Популярні статті</h4>
	</div>
	<ul>
		<% articles.each do |article| %>
			<li>
				<%= link_to article_path(article.link_name) do %>
					<div class="post-thumb">
						<%= image_tag article.image_url(:thumbnail), alt: "Image" %>
					</div>
					<span class="label"><%= truncate(article.title, length: 57) %></span><br>
					<span><%= truncate(article.body, length: 33) %></span>
				<% end %>
			</li>
		<% end %>
	</ul>
</div>
<hr>