<div class="sorting-panel">
    <div class="nav-menu">
        <div class="label">Сортувати по: </div>
        <button class="button border"><%= sortable 'Даті', 'created_at', 'asc' %></button>
        <button class="button border"><%= sortable 'Імені', 'title', 'asc' %></button>
        <button class="button border"><%= sortable 'Популярності', 'views', 'desc' %></button>
    </div>
</div>