<div style="margin-left: 15px;">
  <%= link_to articles_path do %>
    <button class="button padding-large border">Назад до усіх статтей</button>
  <% end %>
</div>

<div class="post-container">
    <div class="container-with-large-padding">
        <h2>
            <b class="place-left">Редагувати</b>
        </h2>
    </div>
    <div class="container-without-padding" style="padding-right: 3px;">
        <%= render 'form', article: @article %>
    </div>
</div>