<h2>Теги</h2>
<% @tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag.link_name) %>
<% end %>
<h2>Статті</h2>
<% if user_signed_in? && current_user.admin? %>
  <div><%= link_to 'Нова стаття', new_article_path %></div>
<% end %>
<div style="float:left;">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>
<aside style="float: right;">
<h2>Популярні статті</h2>
  <% @popular_articles.each do |article| %>
    <%= render article %>
  <% end %>
</aside>