<h2>Categories</h2>
<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category.name) %>
<% end %>
<h2>Articles list</h2>
<div><%= link_to 'New Article', new_article_path(@category.name) %></div>
<div style="float:left;">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>
<aside style="float: right;">
<h2>Popular Articles</h2>
  <% @popular_articles.each do |article| %>
    <%= render article %>
  <% end %>
</aside>