<div class="post-toolbar">
    <%= link_to tags_path do %>
        <button class="button padding-large border">Назад до усіх тегів</button>
    <% end %>
</div>

<div class="post-container">
    <div class="container-with-large-padding">
        <h2>
            <b class="place-left">Редагувати тег</b>
        </h2>
    </div>
    <%= render 'tags/form', tag: @tag %>
</div>