<div class="post-toolbar" class="post-toolbar">
  <div class="container tags-list-body" style="text-align: center;">
    <p> <span class="tag"><%= link_to @tag.name, tag_path(@tag.link_name) %>:</span> </p>
  </div>
</div>

<% @articles.each do |article| %>
  <div class="article">
    <%= render article %>
  </div>
<% end %>

