/*
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.flash_notice, .flash_alert {
  padding: 8px 16px 8px 16px;
  margin-top: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  font-size: 14px;
  line-height: 20px;
}

.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.content {
  margin: auto;
  max-width: 1320px;
}

.container {
  padding: 0.01em 16px;
}

.container-with-large-padding {
  @media only screen and (min-width: 768px) {
    padding-left: 36px;
    padding-right: 36px;
  }
  @media only screen and (max-width: 768px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.vertical-medium-paddings {
  padding-top: 20px;
  padding-bottom: 20px;
}

.vertical-small-paddings {
  padding-top: 15px;
  padding-bottom: 15px;
}

.horizontal-medium-paddings {
  padding-left: 20px;
  padding-right: 20px;
}

.vertical-small-margins {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vertical-medium-margins {
  margin-top: 20px;
  margin-bottom: 20px;
}

.horizontal-small-margins {
  margin-left: 10px;
  margin-right: 10px;
}

.container:after, .container:before, .container-with-large-padding:after, .container-with-large-padding:before {
  content: "";
  display: table;
  clear: both;
}

.post-container {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  margin: 16px 10px !important;
  color: #000 !important;
  background-color:#fff !important;
}

.post-title {
  font-size: 18pt;
}

.post-toolbar {
  margin-left: 10px;
  margin-right: 10px;
}

header {
  @media only screen and (min-width: 768px) {
    padding-bottom: 20px !important;
    margin: 0 4px !important;
    padding-top: 10px !important;
  }
}

footer {
  @media only screen and (max-width: 768px) {
    padding-top: 13px !important;
  }
  @media only screen and (min-width: 768px) {
    padding-top: 37px !important;
  }
  padding-bottom: 42px !important;
}

.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

/* Responsive design width : */
[class*="col-"] {
  float: left;
  overflow: hidden;
  // padding: 0px 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 960px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 65%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.nav-menu {
  .button {
    background-color:#f1f1f1 !important;
    @media only screen and (min-width: 768px) {
      width: 137px;
    }
  }

  .label {
    font-size: 10pt;
    vertical-align: middle;
    padding: 8px 16px;
    outline: 0;
    display: inline-block;
    @media only screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 5px;
      text-align: center;
    }
  }
}

.site-title {
  font-size: 24pt;
  padding-top: 20px;
  width: 100%;
}

/// forms
.form {
  padding: 20px 30px 20px 30px;
  position: relative;
  z-index: 1;
  text-align: center;

  input, textarea, select, .image-container {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  input:hover, textarea:hover, select:hover {
    background: #e6e6e6;
  }

  textarea {
    height: 210px;
    resize: none;
  }

  select {
    color: #797979;
  }

  .form-button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form-button:hover, .form-button:active, .form-button:focus {
    background: #43A047;
  }
}

.button {
  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-bottom: 5px;
  }
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.button:first-child > .button:first-child {
  background-color: #ccc;
  color:#000;
}

.button:hover {
  color: #000 !important;
  background-color:#ccc !important;
}

.date-label {
  opacity: 0.60;
  font-size: 10pt;
  padding-left: 4px;
}

.view-count-label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  @media only screen and (min-width: 768px) {
    padding: 10px 10px !important;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.border {
  border: 1px solid #ccc !important;
}

.place-left {
  @media only screen and (max-width: 768px) {
    float: none !important;
  }
  @media only screen and (min-width: 768px) {
    float: left !important;
  }
}

.place-right {
  @media only screen and (max-width: 768px) {
    float: none !important;
  }
  @media only screen and (min-width: 768px) {
    float: right !important;
  }
}

.center-align {
  display: inline-block;
  width: 100%;
  text-align: center !important;
}

.padding-large {
  padding: 12px 24px !important;
}

.padding-medium {
  padding: 8px 16px !important;
}

hr {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0
}

.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 3px;
  text-align: center;
}

.tags-list {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 16px 5px !important;

  .tags-list-body {
    color:#000 !important;
    background-color: #fff !important;
  }
  
  .tag {
    font-size: 14px !important;
    color: #000 !important;
    background-color: #f1f1f1 !important;
    margin-bottom: 10px !important;
  } 
  
  .tag:hover {
    color: #fff !important;
    background-color: #000 !important;
  }
}

.small-post-list {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 16px 5px !important;

  li:hover {
    background-color:#ccc !important;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  ul li {
    padding: 12px !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 23px !important;
    color:#000 !important;
    background-color: #fff !important;
  }
  
  ul li:last-child {
    border-bottom: none;
  }

  .post-thumb {
    float: left;
  }
  
  img {
    width: 50px;
    margin-right: 16px !important;
  }
  
  .label {
    font-size: 18px !important;
  }
}