<h2>Теги</h2>
<% @categories.each do |category| %>
  <%= link_to category.name, category_path(category.name) %>
<% end %>
<h2>Статті</h2>
<div style="float:left;">
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</div>
<div style="float:right;">
  <%#= render 'form', article: @article %>
</div>