<p>Вітаємо, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Повідомляємо вас, що ваш імейл був змінений на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Повідомляємо вас, що ваш імейл був змінений на <%= @resource.email %>.</p>
<% end %>
