<p>Вітаємо, <%= @resource.email %>!</p>

<p>Хтось надіслав запит на посилання на зміну вашого паролю. Ви можете здійснити це за допомогою цього посилання.</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Якщо ви не надсилали запит про це, будь-ласка, не звертайте уваги на цей ел. лист.</p>
<p>Ваш пароль не буде змінений поки ви не доступитесь до посилання вище і не створите нового.</p>
