<p>Вітаємо <%= @resource.email %>!</p>

<p>Ваш акаунт був заблокований через надбірну кількість невдалих спроб увійти на сайт.</p>

<p>Натисніть на посилання щоб розблокувати ваш акаунт:</p>

<p><%= link_to 'Розблокувати мій акаунт', unlock_url(@resource, unlock_token: @token) %></p>
